body {
    font-family: sans-serif;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.video-js {
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

button {
    padding-right: 5px;
}
